@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: poppins,Sans-serif;
    color: #2c2c2c;
}
.top{
    background-color: #202020;
    padding: 10px 50px;
    color: #cfcfcf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}
.left{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 50%;
}
.left div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.left svg{
    width: 5%;
    fill: #cfcfcf;
}
.right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.right img{
    height: 24px;
    width: fit-content;
    cursor: pointer;
}
.right img:hover{
    scale: 80%;
}
.nav{
    background-color: white;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 15%;
    cursor: pointer;
}
.nav >div{
    display: flex;
    align-items: start;
    gap: 40px;
    /* margin-right: 40px; */
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown a{
    text-decoration: none;
    color: black;
}
.dropdown > a, .dropdown_button > p{
    font-weight: 600;
}
.dropdown .dropdown_list{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    left: 0;
    background-color: #202020;
}
.dropdown:hover .dropdown_list{
    display: flex;
}
.dropdown_list  a{
    color: white;
    padding: 12px 15px;
}
.dropdown_list a:hover{
    background-color: rgb(53, 53, 53);
}
.dropdown:nth-last-of-type(1) a{
    background-color: #559b5e;
    padding: 10px 17px;
    color: white;
    border-radius: 0.2rem;
    transition: all .3s ease;
}
.dropdown:nth-last-of-type(1) a:hover{
    background-color: #d5b500;
}
.dropdown_button{
    display: flex;
    align-items: center;
    gap: 5px;
}
.dropdown_button > img{
    width: 10px;
    height: fit-content;
}
.register{
    height: 90vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.register .slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 30s infinite;
}
.register .slide:nth-of-type(1){
    background-image: url(./images/bg1.jpg);
    animation-delay: 0;
}
.register .slide:nth-of-type(2){
    background-image: url(./images/bg2.jpg);
    animation-delay: -6s;
}
.register .slide:nth-of-type(3){
    background-image: url(./images/bg3.jpg);
    animation-delay: -12s;
}
.register .slide:nth-of-type(4){
    background-image: url(./images/bg4.jpg);
    animation-delay: -18s;
}
.register .slide:nth-of-type(5){
    background-image: url(./images/bg5.jpg);
    animation-delay: -24s;
}
@keyframes slide {
    0%, 17%, 100%{
        opacity: 1;
        animation-timing-function: ease;
        z-index: 0;
    }
    20%{
        opacity: 0;
        animation-timing-function: step-end;
        z-index: 0;
    }
    94%{
        opacity: 1;
        animation-timing-function: step-end;
        z-index: -1;
    }
}
.reg_content{
    width: 50%;
    background-color: hsl(180, 0%, 100%, 0.6);
    padding: 20px;
    border-radius: 0.5rem;
    margin: 15% 25%;
    z-index: 1;
    position: absolute;
    text-align: center;
    /* align-items: center; */
}
.reg_content p{
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 600;
    font-size: 13px;
}
.reg_content h1{
    font-size: 42px;
    font-weight: 600;
    margin: 10px  0;
}
.reg_content h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
}
.reg_content  a{
    text-decoration: none;
    color: white;
    font-family: roboto,Sans-serif;
    font-size: 15px;
    letter-spacing: 5.1px;
    background-color: #559b5e;
    padding: 10px 18px;
    border-radius: 0.25rem;
    transition: .3 all ease;
}
.reg_content a:hover{
    background-color: #d5b500;
}
.wfs{
    padding: 70px 200px;
    background-color: white;
}
.wfs img{
    width: 100%;
}
.wfs img:hover{
    filter: grayscale(100%);
}
.wfs h1{
    color: #4d753b;
    font-family: open sans hebrew condensed, Sans-serif;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin: 50px 0 10px 0;
}
.wfs p{
    font-family: raleway, Sans-serif;
    font-weight: 400;
    color: #7A7A7A;
    margin-top: 20px;
    line-height: 20px;
}
.mission{
    height: 80vh;
    width: 100%;
    background-image: url(./images/bgnew.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}
.mission > div{
    width: 40%;
    background-color: hsl(180, 0%, 100%, 0.8);
    padding: 30px;
    border-radius: 0.5rem;
    margin: auto;
}
.mission > div h1{
    color: #4d753b;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.mission >div  p{
    font-family: raleway, Sans-serif;
    font-weight: 500;
    margin-top: 20px;
}
.attend{
    padding: 70px 200px;
    background-color: #4d753b;
    color: white;
}
.attend h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 70px;
}
.attend  p{
    font-weight:600 ;
    font-size: 16px;
    line-height: 1.8em;
    margin-top: 30px;
    margin-bottom: 20px;
}
.attend a{
    text-decoration: none;
    color: #2c2c2c;
    background-color: #bd9d22;
    padding:10px;
    border-radius: 3px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    font-family: raleway,Sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}
.attend a:hover{
    color: white;
    background-color: #3d5329;
}
.vision{
    height: 80vh;
    width: 100%;
    background-image: url(./images/bgvision.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding-top: 15%;
}
.vision div{
    width: 40%;
    /* height: 60%; */
    background-color: hsl(180, 0%, 100%, 0.8);
    padding: 30px;
    border-radius: 0.5rem;
    margin: auto;
}
.vision h1{
    color: #4d753b;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.vision p{
    font-family: raleway, Sans-serif;
    font-weight: 500;
    margin-top: 20px;
    line-height: 20px;
}
.registration{
    padding: 70px 10px;
    background-color: #49423a;
}
.registration >h1{
    margin-bottom: 45px;
    color: white;
    font-size: 44px;
    font-weight: 600;
}
.registration svg{
    width: 30px;
    height: fit-content;
    fill: white;
}
.topper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.card {
    width: 24%;
    height: 170px;
    perspective: 1000px; 
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
}
.card_inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card:hover .card_inner {
    transform: rotateY(180deg);
}
.card_front, .card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  color: white;
  padding: 30px;
  text-align: center;
}
.card_front {
    background-color: #bd3737;
}
.card_front p{
    margin: 10px 0;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
}
.card_back {
    background-color: #608631;
    transform: rotateY(180deg);
    justify-content: center;
    display: flex;
    position: fixed;
    text-align: center;
    align-items: center;
}
.registration a{
    color: white;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    
}
.empty{
    background-image: url(./images/bgempty.jpg);
    height: 85vh;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.organizers{
    padding: 100px 200px;
    background-color: white;
    text-align: center;
    position: relative;
}
.organizers > h1{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.about{
    padding: 100px 50px;
    background-image: url(./images/wfs-ban-footer-1024x427.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    gap: 50px;
    color: #cfcfcf;
}
.about h1{
    color: white;
    font-family: "Rock Salt", cursive;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 13px;
}
.about p{
    font-family: raleway, Sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.about_text{
    width: 50%;
}
.about_text img{
    width:100%;
    margin: 15px 0;
}
.about_text p{
    line-height: 20px;
    margin-bottom: 20px;
}
.about_text a{
    font-family: roboto, Sans-serif;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    padding: 10px 17px;
    background-color: #99874c;
    border-radius: 2.5px;
}
.about_text  a:hover{
    background-color: #4d753b;
}
.about_contact h1{
    margin-bottom: 20px;
}
.about_contact  div{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 20px;
}
.about_contact svg{
    width: 7%;
    height: fit-content;
    fill: #559b5e;
}
.about_apply{
    width: 40%;
}
.about_apply div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.about_apply  a{
    text-decoration: none;
    color: silver;
}
.about_appoint{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about_appoint h1{
    margin-bottom: 20px;
}
.about_appoint  a{
    font-family: roboto, Sans-serif;
    font-size: 13px;
    font-weight: 550;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #4c9957;
    padding: 12px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: silver;
}
.about_appoint a:hover{
    /* color: white; */
    background-color: yellow;
}
footer{
    padding: 20px;
    background-color: #030303;
    color: #757575;
    font-family: roboto, Sans-serif;
    font-size: 8px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}